{% extends 'base.html' %}

{% block contents %}
<div class="container d-flex flex-row justify-content-center">
    <div class="overflow-auto">
        {% for blog in blogs.all %}
            <div class="blog_w" 
                data-toggle="tooltip" data-html="true" data-placement="top" title="Click to see<br>'{{blog.title}}'<br>in detail" 
                onclick="window.location.href = '/blog/{{blog.id}}';">
                <h2>{{blog.title}}</h2>
                <p>{{blog.pub_date}}</p>
                <p>{{blog.summary}}</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}